
.header {

	text-align:center;
	font-size:20px;
	color: #f40;
	padding-bottom:  5px;
	text-decoration: underline;
}



.row_div {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 40px;
    clear:both;
}


.CS_Name_word{


	padding: 5px;
	float:left;

	font-size:15px;
	font-weight:bold;

}
.CS_Name_fill{


	padding: 5px;
	float:left;

	font-size:15px;
	font-weight:bold;
	

}



.CV_Name_word{


	padding: 5px;
	float:left;

	font-size:15px;
	font-weight:bold;

}
.CV_Name_fill{


	padding: 5px;
	float:left;

	font-size:15px;
	font-weight:bold;
	

}

.sex_ckbox{

	font-size:15px;
	font-weight:bold;

}

.font_color{
	font-size:15px;
	font-weight:bold;
	float:left;
	background-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin-top: 3px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_add_new{


    clear:both;
    margin-top: 70px;
}

.btn_cancel{
	background-color: rgb(242, 242, 242);
	color: #000;
	float:left;
	margin-left: 80px;
	width: 70px;
	text-align:center;
	padding: 5px;
}

.btn_new{
	background-color: #f40;
	color: #fff;
	float:right;
	margin-right: 80px;
	width: 70px;
	text-align:center;
	padding: 5px;
}